.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.error {
    width: 400px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-4xl);
}