.livePage{
    width: 100%;
     height: 100vh;
    display: grid;
    grid-template-rows: var(--navbar-height) 1fr;
}
.footer {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 80px;          /* fix magasság, nem nő */
  overflow: hidden;       /* ha bármi túlcsordulna, levágja, nem nyújtja szét */
  box-sizing: border-box;
}