.route-card {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: var(--color-base);
    border: 1px solid var(--color-moss);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    cursor: pointer;
    min-height: 80px;
}

.route-card-text {
    flex: 1;
    min-width: 0; /* EZ FONTOS flex esetén */
    
    display: flex;
    flex-direction: column;
}

.route-name {
    font-size: var(--text-md);
    font-weight: 600;
    color: var(--color-text);
}

.route-desc {
    font-size: 12px;
    line-height: 1;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;

    /* helyfoglalás akkor is, ha rövid a szöveg */
    min-height: calc(2 * 1em);
}

.route-link {
    font-size: 12px;
}

.route-card-icons {
    flex: 0 0 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.route-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 2px 2px;
    border-radius: 6px;
    background: var(--color-text);
    color: var(--color-dark);
}