table { border-collapse: collapse;width: 100%;cursor: pointer;}
tbody tr {background-color: var(--color-dark);transition: background-color 0.2s;}
tbody tr:hover {background-color: var(--color-warning);}
th {
	border: 1px solid var(--color-light);
	color: var(--color-text);
	font-size: 12px;
	position: sticky;
}
td {
	border: 1px solid var(--color-light);
	color: var(--color-text);
	font-size: 12px;
}

.row-visited {
	background-color: var(--color-moss);
}
.row-selected {
	background-color: var(--color-sky);
}
.row-selectedVisited {
	background-color: var(--color-denim);
}
.visited-dates {
	white-space: pre-line;
}
.dateInput {
  background-color: var(--color-light);
  color: var(--color-dark);
  border: 1px solid var(--color-moss);
  border-radius: var(--radius-md);
  padding: var(--space-1) var(--space-1);
  font-size: var(--text-sm);
}