.viewStat {
    display: flex;
    flex-direction: column; 
    gap: 4px;
    background: var(--color-text) !important;
    color: var(--color-dark) !important;
    border-radius: 8px;
    border: 2px solid var(--color-dark) !important;
    font-size: var(--text-l) !important;
}